SampleFutronicScanDemo/bin/
SampleFutronicScanDemo/obj/
ScanAPIDemo/bin/
ScanAPIDemo/obj/
ScanAPIDemo_VB/bin/
ScanAPIDemo_VB/obj/
ScanAPIHelper/Debug/
ScanAPIHelper/x64/Debug/
ScanAPIDemo/ScanAPIDemo.VC.db
ScanAPIDemo/ScanAPIDemo.VC.VC.opendb
